.contactBody{
    margin-top: 2%;
    text-align:center;
}

.contactForm{
    width:200px;
    text-align: center;
    margin-top: 4%;
    display: block;
    margin-left:40%;
    padding:1%;
    font-weight: bold;
}

.contactName .contactEmail .contactPhone{
    margin-left:1%;
    margin-right:1%;
}
.contactBtn{
    margin-top:4%;
    font-weight: bold;
}